* {
  box-sizing: border-box;
}

/* Setting variables for reuse throughout */
:root {
  background-color: var(--subtle-white);
  --ooh-red-hot: rgb(226, 13, 13);
  --midnight-red: rgb(153, 10, 10);
  --muted-red: rgb(224, 120, 120);
  --subtle-tan: rgb(211, 203, 201);
  --subtle-white: rgb(235, 235, 235);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  font-family: "Montserrat";
}
p {
  font-size: 12pt;
  margin: 0;
  padding: 0;
}
p[data-attribute="highlight"] {
  font-weight: 500;
  color: var(--ooh-red-hot);
  display: inline;
}
h2 {
  font-size: 14pt;
  font-weight: 500;
  color: var(--muted-red);
  display: inline;
}
hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #d3d3d3;
  margin-top: 5px;
  margin-bottom: 5px;
}
.meat {
  margin-top: 30px;
  padding: 2.8vw 20px;
}
p[data-attribute="heading"] {
  font-size: 18pt;
  font-weight: 600;
  color: var(--midnight-red);
  margin-top: 10pt;
  margin-bottom: 6pt;
  padding-bottom: 2pt;
  border-bottom: 1.5px solid #d3d3d3;
}

/* Formatting for carousel elements */
.carousel {
  display: flex;
  overflow-x: auto;
}
.carousel-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  height: 200px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Light drop shadow */
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.carousel-element:hover {
  background-color: rgb(225, 225, 225);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.carousel-element:hover h2 {
  color: var(--ooh-red-hot);
}
.carousel-element h2, .carousel-element p {
  margin: 0; /* Remove default margins */
}
.carousel-element hr {
  margin: 10px 0; /* Add some spacing around the horizontal rule */
}
hr[data-attribute="carousel"] {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}
p[data-attribute="carousel"] {
  font-size: 10pt;
  color: black;
}

/* Formatting for bullet lists */
.custom-list {
  font-size: 12pt;
  list-style: none;
  padding-left: 0;
}

.custom-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7pt;
  transform: translateY(-50%);
  width: 6px;
  height: 1.5px;
  background-color: var(--ooh-red-hot);
}
a[data-attribute="mutedlink"] {
  color: var(--muted-red);
  text-decoration: none;
}
a[data-attribute="mutedlink"]:hover {
  color: var(--ooh-red-hot);
  font-weight: 400;
}
.headshot-container{
  display: flex;
  align-items: flex-start;
}
.headshot-text {
  width: 65vw;
  margin-right: 5vw;
}
.headshot {
  width: 20vw;
}
img[data-attribute="headshot"] {
  max-width: 20vw;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Formatting for the top-bar */
.topbar {
  position: fixed;
  background-color: var(--subtle-white);
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 2500;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
  font-family: "Kode Mono", monospace;
  text-decoration: none;
  word-break: break-all;
  display: flex;
  color: black;
  padding-right: 3vw;
  font-weight: 400;
  font-size: 1.8vw;
}
.navpointer {
  font-family: "Kode Mono", monospace;
  text-decoration: none;
  word-break: break-all;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2pt;
  color: black;
  font-weight: 280;
  font-size: 1.2vw;
}
.navpointer:hover {
  color: var(--ooh-red-hot);
}
.navpointer[attribute="active_page"] {
  color: var(--ooh-red-hot);
}

/* Set up the code for the footer */
.footer-container {
  position: fixed;
  display: flex;
  width: 100%; 
  left: 0;
  bottom: 0;
  background-color: var(--subtle-white);
}
.footer-elements{
  align-items: flex-end;
  width: 98%; 
  border-top: 1.5px solid #d3d3d3;
  padding-top: 10px 0;
  margin-left: 1%;
  margin-right: 1%;
}
.social-icons {
  display: flex;
  margin: 5px;
}
.social-icons svg {
  margin-right: 4px;
  width: 20pt;
  height: 20pt; 
  fill: #cccccc;
}
.social-icons div[data-attribute="linkedin"]:hover svg {
  fill: #0a66c2;
}
.social-icons div[data-attribute="x-twitter"]:hover svg {
  fill: black;
}
.social-icons div[data-attribute="github"]:hover svg {
  fill: black;
}

/* Formatting for contact page */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-family: "Kode Mono", monospace;
  color: rgb(150, 150, 150);
}

/* Heinous formatting for personal page */
a[data-attribute="honk-name"] {
  font-family: "Honk", system-ui;
}  
a[data-attribute="honk-nav"] {
  font-family: "Honk", system-ui;
}  
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#travel_map {
  height: 50vh;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
}



/* Styling for the Dino Running Animation (Personal Page) */
.dino-container {
  display: flex;
  width: 98%; 
  border-top: 1.5px solid #d3d3d3;
  padding-top: 10px 0;
  margin-left: 1%;
  margin-right: 1%;
  height: 8vh;
}
.dino-run {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;

  background: url("/assets/dino/DinoSprite.png");
  filter: drop-shadow(0px 0px 2px rgb(150,150,150));

  animation-name: dinoSprite;
  animation-duration: 1200ms;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
}
.meteor {
  height: 35px;
  width: 35px;
  display: flex;
  position: relative;

  background: url("/assets/dino/MeteorSprite.png");
  filter: drop-shadow(0px 0px 4px rgb(150,150,150));

  animation-name: meteorSprite;
  animation-duration: 300ms;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
}
/* Running animation */
@keyframes dinoSprite {
  from { background-position: 0px; }
  to { background-position: -600px;}
}
/* Meteor animation */
@keyframes meteorSprite {
  from { background-position: 0px; }
  to { background-position: -70px; }
}